# Flask Configuration
DEBUG=True
HOST=127.0.0.1
PORT=5000

# Laravel Integration
LARAVEL_PUBLIC_PATH=D:\sistem\pics_system\public
LARAVEL_STORAGE_PATH=D:\sistem\pics_system\storage\app\public
LARAVEL_BASE_URL=http://127.0.0.1:8000

# CORS (separate by comma)
CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
